# Agents
.agents
opencode.jsonc
AGENTS.md
.claude
CLAUDE.md
.mcp.json

# Gradle
.gradle/
build/

# Android
local.properties

# IDEs
.idea/
*.iml

# Temp files
.tmp/
samples/
app/src/androidTest/assets/
